body {
  background-color: #c9e3ff;
}

.topbar {
  width: 40%;
  border-radius: 10px;
  border: 5px solid black;
  font-family: monospace;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

#title {
  text-align: center;
}

.navbar {
  width: 50%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #00aaff;
  background-color: #aaeeff;
  border-radius: 2px;
}

.navbar ul {
  list-style: none;
  display: inline;
  text-align: center;
}

.navbar a {
  text-decoration: none;
  background-color: #aafeff;
  border: 1px solid black;
  border-radius: 2px;
}

.info-1 {
  background-color: #a1e3ff;
  width: 20%;
  border: 15px solid #00eeff;
  border-radius: 15px;
  font-family: monospace;
  font-size: 15px;
  margin-left: 20%;
}

.info-1 p{
  font-weight: bold;
}

.info-1 h2 {
  text-align: center;
}
